/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* VARIABILI */
:root {
    --main-bg-color: #141922;
    --dark-bg-color: #000000;
    --player-bg-color: #282828;

    --gray-element: #717171;
    --accent-color: #adff2f;

    --main-space: 1.2rem;
    --half-space: 0.6rem;
    --double-space: 2.4rem;
    --inner-space: 0.2rem;
}

/* MARGINI */
.m-btt-main {
    margin-bottom: var(--main-space);
}

.m-btt-half {
    margin-bottom: var(--half-space);
}

/* TESTO */
* {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.small {
    font-size: 0.8em;
    color: var(--gray-element);
}

.very-small {
    font-size: 0.7em;
}

.label {
    color: var(--gray-element);
}

h2,
h4 {
    color: white;
}


/* IMMAGINI */
img {
    width: 100%;
}

/* BOTTONI */
button {
    background-color: transparent;
    border: none;
    padding: 0;

    cursor: pointer;
}

a.btn {
    padding: var(--half-space) var(--double-space);
    border: 0.5px solid white;
    border-radius: 40px;
    color: white;
    font-size: 0.9em;
    text-decoration: none;
    text-transform: uppercase;
}

/* UTILITY */
.prova {
    background-color: firebrick;
    padding: 15px;
    display: inline-block;
}

progress {
    -webkit-appearance: none;
    vertical-align:middle;
}

progress::-webkit-progress-bar {
    background-color: var(--gray-element);
    border-radius: 10px;
}

progress::-webkit-progress-value {
    background-color: white;
    border-radius: 10px;
    position: relative;
}
