/* ----- MAIN SECTION ----- */
#main-section {
    height: calc(100vh - 100px);
    background-color: aqua;

    display: flex;
}

/* --- ASIDE --- */
#main-section aside {
    width: 240px;
    min-height:400px;
    padding: var(--main-space) var(--main-space) 0 0;
    background-color: var(--dark-bg-color);
}

.logo,
.playlist-menu,
.aside-footer {
    padding-left: var(--main-space);
}

/* ASIDE MAIN */
.aside-main {
    height: calc(100% - 90px);
}

/* LOGO */
.logo img {
    width: 70%;
}

/* MAIN NAV */
.main-nav ul {
    list-style: none;
}

.main-nav ul li {
    padding: var(--inner-space) var(--main-space);
}

.main-nav ul .active {
    box-shadow: inset 3px 0px 0px 0px var(--accent-color);
}

.main-nav ul .active .label {
    color: white;
}

.main-nav .img-box,
.main-nav .label {
    vertical-align: middle;
}

.main-nav .img-box {
    display: inline-block;
    width: 25px;
}

/* PLAYLIST MENU */
.playlist-menu .add-btn .label {
    font-size: 1.2em;
}

.playlist-menu .add-btn .add {
    display: inline-block;
    margin-right: var(--half-space);
    height: 35px;
    width: 35px;
    line-height: 35px;
    font-size: 2rem;
    background-color: #a3a3a3;
    vertical-align: middle;
}

.playlist-box {
    overflow:auto;
}

.playlist-box ul {
    list-style: none;
}

.playlist-box ul button {
    padding: var(--half-space) 0;
    color: var(--gray-element);
}

/* ASIDE FOOTER */
.aside-footer {
    height: 90px;
    background-color: var(--dark-bg-color);
    position: relative;
    z-index: 10;
}

.aside-footer a {
    display: inline-block;
    padding-top: var(--main-space);
    text-decoration: none;
    color: var(--gray-element);
    font-size: 0.9em;
}

.aside-footer hr {
    border-color: var(--gray-element);
}

.aside-footer .img-box,
.aside-footer .label {
    vertical-align: middle;
}

.aside-footer .img-box {
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-right: var(--inner-space);
    background-color: var(--gray-element);
    border-radius: 50%;
    overflow: hidden;
}

/* HOVER */
#main-section aside button:not(.add-btn):hover,
#main-section aside button:hover .label {
    color: white;
}

.add-btn:hover .add {
    background-color: white;
}

.aside-footer a:hover {
    color: white;
}

/* --- MAIN CONTENT --- */
#main-section #main-content {
    min-height: 100%;
    width: calc(100% - 240px);
    background-color: var(--main-bg-color);

    overflow-y: auto;
}

/* TOP BAR */
#main-content .top-bar {
    height: 100px;
    padding: var(--inner-space);
    background-color: rgba(0, 0, 0, 0.7);
    
    position: sticky;
    top: 0;
    left: 0;
    z-index: 30;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/* CONTENT */
#main-content > .container {
    padding: 0 var(--main-space) var(--main-space);
}

#main-content .content-menu {
    background-color: aquamarine;
    text-align: center;
}

#main-content #recent {
    background-color: lightcoral;
}

#main-content #created {
    background-color: chocolate;
}

#main-content #popular {
    background-color: navy;
}

#main-content .card-box {
    background-color: blueviolet;
    display: flex;
    flex-wrap: wrap;
}

#main-content .card {
    width: calc(88% / 6);
    margin-right: 2%;
    background-color: sandybrown;
    text-align: center;
    margin-bottom: var(--main-space);
}

#main-content .card .img-box {
    width: 100%;
    aspect-ratio: 1/1;
    overflow: hidden;
    border-radius: 50%;
}

/* ----- PLAYER SECTION ----- */
#player-section {
    height: 100px;
    background-color: var(--player-bg-color);

    display: flex;
    justify-content: space-between;

    position: relative;
    z-index: 30;
}

#player-section .player-left {
    background-color: darkgoldenrod;
}

#player-section .player-center {
    background-color: forestgreen;
}

#player-section .player-right {
    background-color: greenyellow;
}
